GO
/****** Object:  Database [SoSuMiDatabase]    Script Date: 10/17/2022 4:41:40 PM ******/
CREATE DATABASE [SoSuMiDatabase]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoSuMiDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoSuMiDatabase]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[userId] [int] NULL,
	[foodId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[price] [float] NULL,
	[special] [bit] NULL,
	[type] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderId] [int] NOT NULL,
	[userId] [int] NULL,
	[lineItems] [int] NULL,
	[date] [datetime] NULL,
	[dineIn] [bit] NULL,
	[paid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderItem]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderItem](
	[orderId] [int] NULL,
	[itemId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sosumi-datasheet]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sosumi-datasheet](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](50) NULL,
	[price] [float] NULL,
	[special] [bit] NULL,
	[type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/17/2022 4:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[firstName] [varchar](30) NULL,
	[lastName] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[password] [varchar](30) NULL,
	[firstTime] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD FOREIGN KEY([foodId])
REFERENCES [dbo].[item] ([id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[orderItem]  WITH CHECK ADD FOREIGN KEY([itemId])
REFERENCES [dbo].[item] ([id])
GO
ALTER TABLE [dbo].[orderItem]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[order] ([orderId])
GO
USE [master]
GO
